header{
    background-color: rgb(218, 197, 11);
    color: rgb(255, 255, 255);
    text-align: center;
    max-width: 100%;
    margin: 0 auto;
    border: 5px solid rgb(241, 185, 0);
    padding: 16px;
}

main{
    background-color: rgba(141, 72, 15, 0.493);
    color: rgb(255, 255, 255);
    text-align: center;
    max-width: 100%;
    margin: 0 auto;
    border: 5px solid rgba(255, 94, 0, 0.555);
    padding: 16px;
    display: flex;
}
 .artigo-autor{
font-weight: bold;

 }


img{
    height: 250px;
    width: 250px;
}

footer{
    background-color: rgb(255, 196, 0);
    color: beige;
    text-align: center;
    max-width: 100% ;
    margin: 0 auto;
    border: 5px solid rgb(255, 196, 0);
    padding: 16px;

}